*,
*::before,
*::after {
  text-decoration: none;
}

li {
  list-style-type: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: auto;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: #000000;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after,
.link:hover,
.link:focus {
  text-decoration: none;
  outline: none;
}

.header-container, .contacts, .navigation-container, .navigation-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-studio::before, .navigation-portfolio::before, .navigation-contacts::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -33px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  z-index: 3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mail:hover, .mail:focus, .phone-number:hover, .phone-number:focus, .mail .icon-mail:hover, .mail .icon-mail:focus,
.phone-number .icon-phone:hover,
.phone-number .icon-phone:focus, .mail:hover .icon-mail,
.phone-number:hover .icon-phone, .navigation-studio:hover, .navigation-studio:focus, .navigation-portfolio:hover, .navigation-portfolio:focus, .navigation-contacts:hover, .navigation-contacts:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container, .contacts, .navigation-container, .navigation-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: block;
  position: relative;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.mail {
  margin-right: 30px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mail:hover, .mail:focus {
  text-decoration: none;
  color: #2196f3;
  cursor: pointer;
  -webkit-transition-property: color, pointer;
  transition-property: color, pointer;
}

.phone-number {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.phone-number:hover, .phone-number:focus {
  text-decoration: none;
  color: #2196f3;
  cursor: pointer;
  -webkit-transition-property: color, pointer;
  transition-property: color, pointer;
}

.mail .icon-mail,
.phone-number .icon-phone {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.mail .icon-mail:hover, .mail .icon-mail:focus,
.phone-number .icon-phone:hover,
.phone-number .icon-phone:focus {
  text-decoration: none;
  cursor: pointer;
  fill: #2196f3;
  -webkit-transition-property: fill, pointer;
  transition-property: fill, pointer;
}

.mail:hover .icon-mail,
.phone-number:hover .icon-phone {
  text-decoration: none;
  cursor: pointer;
  fill: #2196f3;
  -webkit-transition-property: fill, pointer;
  transition-property: fill, pointer;
}

.main-title {
  margin: 24px 93px 26px 0px;
  font-family: "Raleway", sans-serif, oleo-script;
  font-weight: 700;
  line-height: 1.19;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.studio-word {
  color: black;
}

.navigation-container {
  min-width: 294px;
  padding: 32px 0 32px 0;
}

.navigation-set {
  margin-right: 305px;
}

.navigation-studio {
  margin-right: 40px;
  display: inline-block;
  position: relative;
  color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-studio:hover, .navigation-studio:focus {
  text-decoration: none;
  color: #2196f3;
  cursor: pointer;
  -webkit-transition-property: color, pointer;
  transition-property: color, pointer;
}

.navigation-portfolio {
  margin-right: 40px;
  display: inline-block;
  position: relative;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-portfolio:hover, .navigation-portfolio:focus {
  text-decoration: none;
  color: #2196f3;
  cursor: pointer;
  -webkit-transition-property: color, pointer;
  transition-property: color, pointer;
}

.navigation-contacts {
  display: inline-block;
  position: relative;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-contacts:hover, .navigation-contacts:focus {
  text-decoration: none;
  color: #2196f3;
  cursor: pointer;
  -webkit-transition-property: color, pointer;
  transition-property: color, pointer;
}

.navigation-studio.current:before,
.navigation-portfolio.current:before {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */