.features-section {
  @extend %center;
  margin-bottom: 94px;
}
.feature-box {
  width: 270px;
}
.features {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: auto;
  width: 1170px;
  padding-top: 94px;
  list-style-type: none;
}

.feature-title-one,
.feature-title-two,
.feature-title-three,
.feature-title-four {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.feature-text-one,
.feature-text-two,
.feature-text-three,
.feature-text-four {
  display: flex;
  margin-top: 10px;
  font-family: $mainFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: normal;
  color: $textcolor;
}
.bg-icon-feature-svg {
  @extend %center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
